/*  Изменение по заданию к 3-му занятию:
    Определены стили для правильно и неправильно заполненных контролов 'text' и 'textarea'.
*/

input[type="text"]:invalid, textarea:invalid{
    background: #fdd;
    outline: 0px;
}

input[type="text"]:valid, textarea:valid{
    outline: 1px solid #dfd;
}

/*  Конец изменения */

table{
    padding: 50px;
}

td{
    padding-bottom: 20px;
    padding-right: 50px;
}

.width-100-per{
    width: 100%;
}

li{
    list-style-type: none;
}

.text-align-right{
    text-align: right;
}

.vertical-align-top{
    vertical-align: top;
}

.margin-padding-0{
    margin: 0px;
    padding: 0px;
}