/*  Изменение по заданию к 3-му занятию:
    Определены стили для правильно и неправильно заполненных контролов 'text' и 'textarea'.
*/

input[type="text"].invalid, textarea.invalid, select.invalid{
    background: #fdd;
}

input[type="text"].valid, textarea.valid, select.valid{
    background: #dfc;
}

input[type="text"].default, textarea.default, select.default{
    background: #fff;
}

/*  Конец изменения */

table{
    padding: 50px;
}

td{
    padding-bottom: 20px;
    padding-right: 50px;
}

.control{
    width: 100%;
}

li{
    list-style-type: none;
}

.text-align-right{
    text-align: right;
}

.vertical-align-top{
    vertical-align: top;
}

.margin-padding-0{
    margin: 0px;
    padding: 0px;
}