/*  Изменение по заданию к 3-му занятию:
    Портрет вынесен из таблицы и размещён справа от неё в блоке 'div' класса "portrait-block".
    Таблица помещена в блок 'div' класса "table-block".
*/

.content{
    white-space: nowrap; /* Не переносить элементы блока */
}

.content__table{
    display: inline-block;
}

.content__portrait{
    display: inline-block;
    min-width: 170px;
    min-height: 260px;
    background: url(d_i_mendeleev.png) no-repeat;
    background-size: cover;
}

/*  Конец изменения */

.textalignjustify{
    text-align: justify;
    text-align-last: justify;
}

.textaligncenter{
    text-align: center;
    text-align-last: center;
}

.field{
    padding-left: 3px;
    padding-right: 3px;
}

td.period{
    text-align: center;
    font-size: 150%;
}

td.group{
    text-align: center;
    font-size: 130%;
}

table{
    border-collapse: collapse;
}

th, td {
    border: 2px solid grey;
}

table.element{
    width: 90px;
}

td.s{
    background-color: magenta;
}

td.p{
    background-color: yellow;
}

td.empty{
    min-width: 90px;
}


td.element{
    font-size: 150%;
    font-weight: bolder;
    border-width: 0px;
}

td.number{
    font-size: 120%;
    text-align: right;
    border-width: 0px;
}

td.name{
    font-size: 70%;
    font-weight: bolder;
    border-width: 0px;
}

td.mass{
    font-size: 80%;
    border-width: 0px;
}

td.layout{
    font-size: 60%;
    text-align: right;
    vertical-align: bottom;
    border-width: 0px;
}

td.levels{
    font-size: 60%;
    text-align: center;
    vertical-align: bottom;
}

ul{
    margin: 0;
    padding: 0;
}

li{
    list-style-type: none;
}

.verticaltext{
    -webkit-transform: rotate(270deg); /* разворот текста для разных браузеров */
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
    writing-mode: tb-rl;
}