table{
    padding: 50px;
}

td{
    padding-bottom: 20px;
    padding-right: 50px;
}

.width-100-per{
    width: 100%;
}

li{
    list-style-type: none;
}

.text-align-right{
    text-align: right;
}

.vertical-align-top{
    vertical-align: top;
}

.margin-padding-0{
    margin: 0px;
    padding: 0px;
}