/*  Изменение по заданию к 3-му занятию:
    Добавлен стиль для рекламного баннера.
    Добавлена анимация для рекламного баннера.
*/
.banner{
    position: fixed;
    bottom: 20px;
    right: 20px;
    animation: banner-move 2s;
}

@keyframes banner-move {
  from { right: 100%; }
  to { right: 20px; }
}

/*  Изменение по заданию к 4-му занятию:
    Добавлен стиль для анимации перемещения баннера за пределы экрана.
*/
.banner-hide{
    position: fixed;
    bottom: 100%;
    right: 20px;
    animation: banner-hide 0.2s;
}

@keyframes banner-hide {
  from { bottom: 20px; }
  to { bottom: 100%; }
}
/* Конец изменения */

ul{
    /*  Изменение по заданию к 3-му занятию:
        Изменён стиль отображения маркеров списка.
    */
    list-style-image: url(favicon.png);

    border: 2px solid #000;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    width:max-content;
}